.container {
    background-color: #121212; 
    padding: 20px; 
    margin: 10px;
  }
  
  .row {
    text-align: center; 
  }
  
  .col {
    padding: 10px 0; 
  }
  
  .navLink {
    color: #E0E0E0; 
    text-decoration: none; 
    font-size: 18px; 
    transition: color 0.3s ease-in-out; 
  }
  
  .navLink:hover {
    color: #FFFFFF; 
  }
  


